main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 50%;
    width: 80%;
}

body {
    background-color: yellowgreen;
    color: darkblue;
}

span {
    margin: 10px;
    border: solid darkslateblue 2px;
    border-radius: 10px;
    padding: 5px;
    width: 60%;
    height: 100%;

}